In [3]:
import datetime

current_date = datetime.date.today()
formatted_date = current_date.strftime("%Y-%m")  # Format example: YYYY-MM-DD

Formatted current date: 2024-03

In [6]:
import datetime

def generate_future_dates(start_date, future_steps, gap_days):
    dates = []
    current_date = datetime.datetime.strptime(start_date, "%Y-%m") + datetime.timedelta(days=gap_days)
    
    for _ in range(future_steps):
        dates.append(current_date.strftime("%Y-%m"))
        current_date += datetime.timedelta(days=gap_days)
        
    return dates

start_date = "2024-03"
future_steps = 24
gap_days = 30

future_dates = generate_future_dates(start_date, future_steps, gap_days)
print(future_dates)

['2024-03', '2024-04', '2024-05', '2024-06', '2024-07', '2024-08', '2024-09', '2024-10', '2024-11', '2024-12', '2025-01', '2025-02', '2025-03', '2025-04', '2025-05', '2025-06', '2025-07', '2025-08', '2025-09', '2025-10', '2025-11', '2025-12', '2026-01', '2026-02']

In [2]:
import pandas as pd
a=['2023-12', '2023-12', '2024-01', '2024-02', '2024-03', '2024-04', '2024-05', '2024-06', '2024-07', '2024-08', '2024-09', '2024-10', '2024-11', '2024-12', '2025-01', '2025-02', '2025-03', '2025-04', '2025-05', '2025-06', '2025-07', '2025-08', '2025-09', '2025-10']
b=[3675885.513053331, -1445463.0478168973, -2615988.1583947325, -2883521.0197511637, -2944667.791621975, -2958643.374626112, -2961837.6057249866, -2962567.672750455, -2962734.5353991417, -2962772.673189996, -2962781.3898866484, -2962783.3821572764, -2962783.837506638, -2962783.9415803705, -2962783.9653672534, -2962783.9708039355, -2962783.9720465327, -2962783.972330538, -2962783.97239545, -2962783.972410286, -2962783.972413677, -2962783.9724144517, -2962783.9724146286, -2962783.972414669]
print(len(a))
print(len(b))
df = pd.DataFrame({'forecast_date': a, 'forecast_amount': b})
df.head(5)

24
24

  forecast_date  forecast_amount
0       2023-12     3.675886e+06
1       2023-12    -1.445463e+06
2       2024-01    -2.615988e+06
3       2024-02    -2.883521e+06
4       2024-03    -2.944668e+06